.Register-App {
    text-align: center;
}

.register-input-container {
    margin: auto;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    width: 40%;
    min-height: 370px;
    border-width: 2px;
    border-style: solid;
    align-items: center;
    padding: 20px 10px 20px 10px;
    border-radius: 10px;
}

.register-logo {
    font-size: 40px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    width: 60px;
    padding: 11px 5px;
    margin-bottom: 10px;
}

.register-button-container {
    margin-top: 10px;
    padding: 0px 20px 0px 20px;
    width: 90%;
}

.register-button {
    width: 100%;
}

.register-input {
    width: 90% !important;
}

.register-small-instructions {
    text-align: left;
    width: 88%;
}