.AddBook-App {
    text-align: center;
}

.add-book-top-half {
    margin-bottom: 20px
}

.add-book-rating-container {
    margin: auto;
    margin-bottom: 50px;
    margin-top: 30px;
    width: 75%;
    height: 1287px;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    border-color: #C4C4C4;
    padding: 10px;
}


/* .MuiOutlinedInput-root {
    width: 460px;
} */

.add-book-rate-age {
    width: 100%;
    margin: 20px 0px 5px 0px;
}

.add-book-button {
    margin-top: 15px;
}

.add-book-text-boxes-container {
    margin: auto;
    width: 90%;
    margin: 20px 0px 20px 0px
}


/* .MuiOutlinedInput-multiline {
    width: 100%;
} */