.AddBook-App {
    text-align: center;
}

.add-book-suggestive-content-container {
    margin: auto;
    width: 50%;
}

.add-book-top-half {
    margin-bottom: 20px
}

.add-book-title-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.add-book-SumTitAuth {
    margin: auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.add-book-rate-age {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}